# The apikey for the different weather providers, at least one must be specified
# Note: Hamweather requires two apikeys: client_id=apikey, client_secret=apikey2
#apikey.ForecastIo=
#apikey.OpenWeatherMap=
#apikey.WorldWeatherOnline=
# Account massimilianoc.asini@gmail.com
apikey.Wunderground=36c0d07b7ef4d50b
#apikey.Hamweather=
#apikey2.Hamweather=
#apikey.Meteoblue=

# location configuration, you can specify multiple locations
#location.roma.name=roma
#location.roma.latitude=41.858804
#location.roma.longitude=12.5668773
#location.roma.woeid=      (required for Yahoo provider)
#location.roma.provider=OpenWeatherMap
#location.roma.language=it
#location.roma.updateInterval=15
#location.roma.units=SI

location.roma.name=roma
location.roma.latitude=41.858804
location.roma.longitude=12.5668773
#location.roma.woeid=      (required for Yahoo provider)
location.roma.provider=Wunderground
location.roma.language=IT
location.roma.updateInterval=15
location.roma.units=SI
